/***** Responsive *****/
/* PC - 1920px */
@media screen and (min-width:1441px) and (max-width:1920px) {
    #header,
    .bg-color,
    #header-block {
        height: 812px;
    }
    .logo-and-list-item {
        grid-column: 2/7;
    }
    .navbar #navbar-logo {
        font-size: 32px;
    }
    #login-block,
    .navbar-list {
        font-size: 18px;
    }
    .header-center #title {
        font-size: 72px;
    }
    .header-center #content {
        font-size: 32px;
        margin: 14px 0 14px 10px;
    }
    #center-btn {
        margin-left: 10px;
        margin-top: 30px;
    }
    #center-btn .item-btn-1,
    #center-btn .item-btn-2 {
        height: 68px;
        font-size: 20px;
        line-height: 68px;
    }
    /*  */
    .img-item {
        width: calc(100%/5) !important;
    }

    .slider button {
        width: 48px !important;
        height: 48px !important;
    }
    #carousel1 + * div,
    #carousel2 + * div {
        left: 14px !important;
    }
    .slider-1 button + button div,
    .slider-2 button + button div {
        left: 9px !important;
    }
    #carousel1 + * {
        opacity: 0.85;
        left: 24px ;
        position: absolute;
        top: 47.5%;
    }
    #carousel2 + * {
        opacity: 0.85;
        left: 24px ;
        position: absolute;
        top: 63.5%;
    }
    .slider-1 button + button {
        opacity: 0.85;
        right: 17px;
        position: absolute;
        top: 47.5%;
    }
    .slider-2 button + button {
        opacity: 0.85;
        right: 17px;
        position: absolute;
        top: 63.5%;
    }
    .main-title {
        font-size: 40px;
    }
    .main-content {
        font-size: 20px;
    }
    .infor-finally #title {
        font-size: 40px;
    }
    .infor-finally #content {
        font-size: 28px;
    }
    #footer #navbar-logo {
        font-size: 30px;
    }
    .finally-content #let-go-btn {
        width: 270px;
    }
    .finally-content #content {
        font-size: 38px;
    }
    .next-icon {
        top: 110px !important;
        right: 106px !important;
    }
}
/* PC - 1440px */

@media screen and (min-width:1367px) and (max-width:1440px) {
    #header-block {
        height: 780px;
    }
    .logo-and-list-item {
        grid-column: 2/7;
    }
    #carousel1 + * {
        opacity: 0.85;
        left: 14px;
        position: absolute;
        top: 47%;
    }
    #carousel2 + * {
        opacity: 0.85;
        left: 14px;
        position: absolute;
        top: 63.5%;
    }
    .slider-1 button + button {
        opacity: 0.85;
        right: 4px;
        position: absolute;
        top: 47%;
    }
    .slider-2 button + button {
        opacity: 0.85;
        right: 4px;
        position: absolute;
        top: 63.5%;
    }
    .next-icon {
        right: 0px !important;
    }
}

/* PC - 1366px */
@media screen and (min-width:1279px) and (max-width:1366px) {

    #header,
    .bg-color,
    #header-block {
        height: 640px;
    }
    .bg-color {
        height: 640px;
    }
    #header-block {
        grid-template-rows: 34.5% 1fr 25%;
        grid-template-columns: repeat(12,1fr);
    }
    .navbar {
        grid-template-columns: 2.5% repeat(5,1fr) 1.75%;
    }
    .header-center {
        grid-template-columns: 10.5% 1fr 21.875%;
    }
    #top-title {
        grid-template-columns: 15% 1fr 15%;
    }
    .logo-and-list-item {
        grid-column: 2/8;
    }
    #center-btn .item-btn-1, #center-btn .item-btn-2 {
        font-size: 18px;
    }
    .header-center #title {
        font-size: 55px;
    }
    .header-center #content {
        font-size: 24px;
        margin: 10px 0 12px 5px;
    }
    .header-image {
        top: 26%;
        left: 71%;
    }
    /*  */
    #carousel1 + * {
        opacity: 0.85;
        left: 11px ;
        position: absolute;
        top: 45%;
    }
    #carousel2 + * {
        opacity: 0.85;
        left: 11px ;
        position: absolute;
        top: 62.6%;
    }
    .slider-1 button + button {
        opacity: 0.85;
        right: 1px;
        position: absolute;
        top: 45%;
    }
    .slider-2 button + button {
        opacity: 0.85;
        right: 1px;
        position: absolute;
        top: 62.6%;
    }
    .next-icon {
        right: -8px !important;
    }
    .finally-content {
        height: 240px;
        grid-template-columns: 7.5% 1fr 10% 18% 6.25%;
    }
    .finally-content #content {
        font-size: 32px;
    }
    .finally-content #let-go-btn {
        height: 74px;
        line-height: 74px;
    }
    #footer {
        grid-template-rows: 40px 1fr 40px;
    }
}
/* PC - 1280px */
@media screen and (min-width:1025px) and (max-width:1280px) {
    #header,
    .bg-color,
    #header-block {
        height: 600px;
    }
    .navbar-list {
        margin-left: 46px;
        grid-column: 2/8;
    }
    .logo-and-list-item {
        grid-column: 2/9;
    }
    .header-center #title {
        font-size: 46px;
        line-height: 62px;
    }
    .header-center #content {
        font-size: 22px;
        margin: 10px 0 12px 5px;
        padding: 10px 0;
    }
    #center-btn .item-btn-1, #center-btn .item-btn-2 {
        font-size: 18px;
        width: 186px;
        font-weight: 500;
    }
    .navbar #login-block .item-btn #sign-btn {
        font-weight: 500;
    }
    .header-image {
        top: auto;
        bottom: -22.5%;
        left: 72%;
    }

    #top-title {
        height: 335px;
        grid-template-rows: 18% 21.58% 1fr 13%;
    }
    #top-title .main-title {
        line-height: 70px;
    }
    .next-icon {
        right: -8px !important;
    }
    /*  */
    #carousel1 + * {
        opacity: 0.85;
        left: 10px ;
        position: absolute;
        top: 43.8%;
    }
    #carousel2 + * {
        opacity: 0.85;
        left: 10px ;
        position: absolute;
        top: 62.5%;
    }
    .slider-1 button + button {
        opacity: 0.85;
        right: -2px;
        position: absolute;
        top: 43.8%;
    }
    .slider-2 button + button {
        opacity: 0.85;
        right: -2px;
        position: absolute;
        top: 62.5%;
    }
    .main-title {
        font-size: 30px;
    }
    .main-content {
        font-size: 18px;
    }
    .infor-finally #title {
        font-size: 30px;
    }
    .infor-finally #content {
        font-size: 22px;
    }
    .finally-content #content {
        font-size: 30px;
    }
    .finally-content #let-go-btn {
        font-size: 20px;
    }
    .finally-content {
        height: 230px;
        grid-template-columns: 7.5% 1fr 10% 18% 6.25%;
    }
    .finally-content #let-go-btn {
        height: 70px;
        line-height: 70px;
    }
    .list-img .next-icon {
        right: -18px !important;
    }
    .finally-content {
        height: 220px;
        grid-template-columns: 7.5% 1fr 10% 18% 6.25%;
    }
    #footer {
        grid-template-rows: 36px 1fr 36px;
    }
}
/* PC - Laptop 1025px - 1039px */
@media screen and (min-width:1025px) and (max-width:1039px) {
    #top-title {
        grid-template-columns: 11% 1fr 11%;
    }
}
/* PC-Laptop - 1024px */
@media screen and (min-width:961px) and (max-width:1024px) {
    #header,
    .bg-color,
    #header-block {
        height: 540px;
    }
    .logo-and-list-item {
        grid-column: 2/9;
    }
    .navbar-list .navbar-item {
        margin-right: 16px;
    }
    .header-center #title {
        font-size: 36px;
        line-height: 56px;
    }
    #login-block .item-btn #sign-btn {
        margin-left: 26px;
        width: 100px;
        height: 55px;
        border-radius: 5px;
        font-weight: 500;
        align-items: center;
    }
    .navbar #login-block .item-btn #sign-btn {
        font-weight: 500;
    }
    #top-title {
        height: 330px;
    }
    .header-image {
        left: 72%;
        top: auto;
        bottom: -19%;
    }
    .navbar-list {
        margin-left: 40px;
    }
    #login-block .item-btn #sign-btn {
        font-weight: 500;
    }
    /*  */
    .header-center #title {
        font-size: 44px;
        line-height: normal;
    }
    .header-center #content {
        font-size: 20px;
        line-height: normal;
    }
    #center-btn .item-btn-1, #center-btn .item-btn-2 {
        width: 124px;
        height: 50px;
        line-height: 50px;
        font-weight: 500;
    }
    /*  */
    #top-title {
        grid-template-columns: 11% 1fr 11%;
    }
    /* find out new lineheight with height of #top-title is 380px */
    #top-title .main-title {
        line-height: calc(330px*82px/380px);
    }
    #top-title .main-content {
        line-height: calc(330px*33px/380px);
    }
    .img-item {
        width: calc(100%/2) !important;
    }
    .next-icon {
        right: -8px !important;
    }
    .main-title {
        font-size: 30px;
    }
    .main-content {
        font-size: 18px;
    }
    .infor-finally {
        height: 400px;
    }
    .back-icon-last {
        grid-column: 1/3;
    }
    .next-icon-last {
        grid-column: 11/13;
    }
    .infor-finally #title {
        font-size: 30px;
    }
    .infor-finally #content {
        font-size: 22px;
    }
    .finally-content #content {
        font-size: 30px;
    }
    .finally-content #let-go-btn {
        font-size: 20px;
    }
    .main-title {
        font-size: 28px;
        /* line-height: 60px; */
    }
    .main-content {
        font-size: 18px;
    }
    #center-btn .item-btn-1,
    #center-btn .item-btn-2 {
        width: 140px;
        height: 55px;
    }
    #center-btn .item-btn-1 {
        background-color: #FFFE00;
    }
    #center-btn .item-btn-2 {
        margin-left: 28px;
    }
    .img-item {
        width: calc(100%/3) !important;
    }
    #carousel1 + * {
        opacity: 0.85;
        left: 5px ;
        position: absolute;
        top: 43.6%;
    }
    #carousel2 + * {
        opacity: 0.85;
        left: 5px ;
        position: absolute;
        top: 61.5%;
    }
    .slider-1 button + button {
        opacity: 0.85;
        right: -4px;
        position: absolute;
        top: 43.6%;
    }
    .slider-2 button + button {
        opacity: 0.85;
        right: -4px;
        position: absolute;
        top: 61.5%;
    }
    #footer .navbar-list {
        grid-column: 4/10;
        font-size: 16px;
    }
    #footer #navbar-logo {
        font-size: 22px;
        margin-right: 18px;
    }
    .finally-content {
        height: 212px;
    }
    .finally-content #content {
        color: #FFF;
        font-size: 26px;
    }
    .finally-content #let-go-btn {
        font-size: 18px;
        height: 64px;
        line-height: 64px;
    }
    #center-btn {
        margin-top: 16px;
    }
    .slider-2 {
        margin-top: 30px;
        margin-bottom: 80px;
    }
    .slider-finally-bg .infor-finally {
        height: 410px;
    }
    .infor-finally #title {
        font-size: 34px;
    }
    #footer {
        grid-template-rows: 46px 1fr 46px;
    }
}

/*  */

/* Tablet - 960px */
@media screen and (min-width:769px) and (max-width:960px) {
    #header,
    .bg-color,
    #header-block {
        height: 500px;
    }
    #moblieMenu {
        height: 460px;
    }
    .header-center {
        grid-template-columns: 10.35% 1fr 26%;
    }
    .header-image .img-rotate {
        display: none;
    }
    .img-vertical {
        display: block;
    }
    .header-image {
        top: 23%;
        left: 76%;
        right: 2%;
    }
    .logo-and-list-item,
    .navbar #login-block {
        display: none;
    }
    .mobile-menu {
        display: none;
    }
    .popup-side {
        grid-column: 2/7;
        grid-row: 2/3;
        display: flex;
        justify-content: space-between;
    }
    
    .menu-icon i {
        padding: 8px;
        font-size: 38px;    
    }
    .mobile-menu #navbar-logo{
        text-transform: uppercase;
        font-weight: 600;
        font-size: 30px;
        align-items: center;
    }
    .mobile-menu #navbar-logo #close-menu{
        font-size: 40px;
    }

    .mobile-menu .navbar-list {
        margin-left: 12px !important;
        padding: 20px !important;
        display: block !important;
        font-size: 20px !important;
    }
    .mobile-menu #login-block {
        font-size: 20px;
        padding: 10px 20px 10px 20px;
        margin-left: 12px;
        display: flex;
        justify-content: flex-start;
    }
    .mobile-menu #login-block .item-btn #sign-btn {
        font-size: 20px;
        width: 90px;
        height: 55px;
        border-radius: 5px;
        font-weight: 500;
    }
    /*  */
    .header-center #title {
        font-size: 38px;
        line-height: normal;
    }
    .header-center #content {
        padding: 10px 0;
        font-size: 18px;
        line-height: normal;
    }
    #center-btn .item-btn-1, #center-btn .item-btn-2 {
        width: 122px;
        height: 46px;
        line-height: 46px;
        font-weight: 500;
    }
    /*  */
    #top-title {
        height: 320px;
        grid-template-columns: 11% 1fr 11%;
    }
    /* .img-item:last-child {
        display: none;
    } */
    /* [id="navbar-logo"] {
        color: #FFFE00 !important;
    } */
    /* [aria-label="Previous"] {
        grid-column: 4/5;
        opacity: 0.85;
        left: 28px ;
        position: absolute;
        top: 43.6%;
    }
    [aria-label="Next"] {
        opacity: 0.85;
        right: 0 !important;
        position: absolute;
        top: 43.6%;
    } */
    /* prev button of carousel1*/
    .img-item {
        width: calc(100%/3) !important;
    }
    #carousel1 + * {
        opacity: 0.85;
        left: 3px ;
        position: absolute;
        top: 43.6%;
    }
    #carousel2 + * {
        opacity: 0.85;
        left: 3px ;
        position: absolute;
        top: 62%;
    }
    .slider-1 button + button {
        opacity: 0.85;
        right: -5px;
        position: absolute;
        top: 43.6%;
    }
    .slider-2 button + button {
        opacity: 0.85;
        right: -7px;
        position: absolute;
        top: 62%;
    }
    .next-icon {
        right: -27px !important;
    }
    .main-title {
        font-size: 28px;
    }
    .main-content {
        font-size: 16px;
    }
    .infor-finally {
        height: 400px;
    }
    .back-icon-last {
        grid-column: 1/3;
    }
    /* .list-img {
        justify-content: space-between;
    } */
    .next-icon-last {
        grid-column: 11/13;
    }
    .infor-finally #title {
        font-size: 30px;
    }
    .infor-finally #content {
        font-size: 22px;
    }
    .finally-content #content {
        font-size: 30px;
    }
    .finally-content #let-go-btn {
        font-size: 20px;
    }
    .main-title {
        font-size: 28px;
    }
    .main-content {
        font-size: 18px;
    }
    .slider-2 {
        margin-top: 28px;
        margin-bottom: 70px;
    }
    .slider-finally-bg .infor-finally {
        height: 360px;
    }
    .finally-content {
        height: 220px;
        grid-template-columns: 5% 1fr 5% 20% 4%;
        grid-template-rows: 29.28% 1fr 31.18%;
        align-items: center;
    }
    .finally-content #content {
        font-size: 26px;
    }
    .finally-content #let-go-btn {
        height: 60px;
        line-height: 60px;
        border-radius: 6px;
        font-size: 18px;
    }
    #footer #navbar-logo {
        font-size: 22px;
        font-weight: 700;
    }
}
/* 769px-858px */
@media screen and (min-width: 769px) and (max-width:858px) {
    #top-title {
        grid-template-columns: 6% 1fr 6%;
    }
}
/* Mobile - 768px */
@media screen and (max-width:768px) {
    #header,
    .bg-color,
    #header-block {
        height: 420px;
    }
    #moblieMenu {
        height: 388px;
    }
    .img-item {
        width: 100% !important;
    }
    /* .navbar #navbar-logo, .navbar .navbar-list {
        line-height: 30px;
    }
    .logo-and-list-item {
        grid-column: 2/9;
    }
    .navbar-list {
        margin-left: 16px;
        font-size: 14px;
    }
    .navbar #navbar-logo {
        font-size: 20px;
    }
    .navbar-list .navbar-item {
        margin-right: 10px;
    } */
    /*  */
    .header-center {
        grid-template-columns: 10.35% 1fr 26%;
    }
    .header-image .img-rotate {
        display: none;
    }
    .img-vertical {
        display: block;
    }
    .header-image {
        top: 23%;
        left: 76%;
        right: 2%;
    }
    .logo-and-list-item,
    .navbar #login-block {
        display: none;
    }
    .mobile-menu {
        display: none;
    }
    .popup-side {
        grid-column: 2/7;
        grid-row: 2/3;
        display: flex;
        justify-content: space-between;
    }
    
    .menu-icon i {
        padding: 8px;
        font-size: 38px;    
    }
    .mobile-menu #navbar-logo{
        text-transform: uppercase;
        font-weight: 600;
        font-size: 28px;
        align-items: center;
    }
    .mobile-menu #navbar-logo #close-menu{
        font-size: 40px;
    }
    .img-item {
        width: calc(100%/2) !important;
    }
    #carousel1 + * {
        opacity: 0.85;
        left: 14px ;
        position: absolute;
        top: 41.8%;
    }
    #carousel2 + * {
        opacity: 0.85;
        left: 14px ;
        position: absolute;
        top: 61%;
    }
    .slider-1 button + button {
        opacity: 0.85;
        right: 31px;
        position: absolute;
        top: 41.8%;
    }
    .slider-2 button + button {
        opacity: 0.85;
        right: 31px;
        position: absolute;
        top: 61%;
    }
    .mobile-menu .navbar-list {
        margin-left: 12px !important;
        display: block !important;
        font-size: 20px !important;
    }
    .mobile-menu #login-block {
        font-size: 20px;
        padding: 10px 6px;
        margin-left: 12px;
        display: flex;
        justify-content: flex-start;
    }
    .mobile-menu #login-block .item-btn #sign-btn {
        font-size: 20px;
        width: 90px;
        height: 55px;
        border-radius: 5px;
        font-weight: 500;
    }
    /*  */
    .header-center #title {
        font-size: 38px;
        line-height: normal;
    }
    .header-center #content {
        padding: 10px 0;
        font-size: 16px;
        line-height: normal;
    }
    #center-btn .item-btn-1, #center-btn .item-btn-2 {
        width: 122px;
        height: 46px;
        line-height: 46px;
        font-weight: 500;
    }
    /*  */
    #top-title {
        height: 300px;
        grid-template-columns: 11% 1fr 11%;
        grid-template-rows: 15% 20% 1fr;
    }

    /*  */
    
    .main-title {
        font-size: 30px;
    }
    .main-content {
        font-size: 18px;
    }
    .infor-finally {
        height: 400px;
    }
    .back-icon-last {
        grid-column: 1/3;
    }
    .next-icon-last {
        grid-column: 11/13;
    }
    .infor-finally #title {
        font-size: 30px;
    }
    .infor-finally #content {
        font-size: 22px;
    }
    .finally-content #content {
        font-size: 20px;
    }
    .finally-content #let-go-btn {
        font-size: 20px;
    }
    #main-slider .slider {
        height: 440px;
        display: grid;
        grid-template-columns: 4.2% repeat(12,1fr) 2%;
        grid-template-rows: 8% 8% 0 1fr;
    }

    .wrap-main-title {
        grid-column: 2/14;
    }
    .main-title {
        font-size: 24px;
        line-height: 35px;
    }
    .main-content {
        font-size: 15px;
        line-height: 28px;
    }
    #center-btn .item-btn-1,
    #center-btn .item-btn-2 {
        width: 128px;
        height: 48px;
    }
    .slider-2 {
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .slider-finally-bg .infor-finally {
        height: 350px;
    }
    .finally-content {
        height: 170px;
        grid-template-rows: 29% 1fr 30%;
        grid-template-columns: 5% 1fr 8% 24% 3%;
    }
    .finally-content #let-go-btn {
        font-size: 16px;
        height: 60px;
        line-height: 60px;
    }
    .back-icon-last {
        left: 12px;
    }
    .next-icon-last {
        right: 26px;
    }
    .infor-finally #content {
        font-size: 20px;
    }
    #footer {
        grid-template-columns: 2.639% 20% 4% 1fr 3%;
        grid-template-rows: 42px 1fr 42px;
    }
    #footer #navbar-logo {
        font-size: 20px;
        font-weight: 700;
    }
    #footer .navbar-list .navbar-item {
        margin-right: 20px;
        font-size: 14px;
    }
}
/* 426px - 620px */
@media screen and (min-width:426px) and (max-width:620px) {
    #header, .bg-color, #header-block {
        height: 400px;
    }
    #moblieMenu {
        height: 372px;
    }
    #header-block {
        grid-template-rows: 26.6% 19.85% 31.5%;
    }
    .header-center #title {
        font-size: 30px;
        line-height: normal;
    }
    .header-center #content {
        padding: 6px 0;
        font-size: 15px;
    }
    .header-image {
        top: unset;
        left: 76%;
        right: 2%;
        bottom: 8.5%;
    }
    #center-btn {
        margin-left: 6px;
    }
    #center-btn .item-btn-1, #center-btn .item-btn-2 {
        width: 120px;
        height: 40px;
        line-height: 40px;
    }
    #top-title {
        grid-template-rows: 15% 18% 1fr;
        grid-template-columns: 6% 1fr 6%;
    }
    .main-title {
        font-size: 22px;
        line-height: 26px;
    }
    .main-content {
        font-size: 14px;
        line-height: 25px;
    }
    #main-slider .slider {
        height: 370px;
        grid-template-columns: 0.5% repeat(12,1fr) 0.5%;
        grid-template-rows: 7% 13% 0 1fr;
    }
    .img-item {
        width: calc(100%/2 - 18px) !important;
    }
    #carousel1 + * {
        opacity: 0.85;
        left: 1px ;
        position: absolute;
        top: 41.5%;
        width: 30px !important;
        height: 30px !important;
    }
    #carousel2 + * {
        opacity: 0.85;
        left: 1px ;
        position: absolute;
        top: 59%;
        width: 30px !important;
        height: 30px !important;
    }
    .slider-1 button + button {
        opacity: 0.85;
        right: 0px;
        position: absolute;
        top: 41.5%;
        width: 30px !important;
        height: 30px !important;
    }
    .slider-2 button + button {
        opacity: 0.85;
        right: 0px;
        position: absolute;
        top: 59%;
        width: 30px !important;
        height: 30px !important;
    }
    #carousel1 + * div,
    #carousel2 + * div {
        left: 6px !important;
    }
    .slider-1 button + button div,
    .slider-2 button + button div {
        left: 1px !important;
    }
}
/* Mobile - 425px */
@media screen and (max-width:425px) {
    #header,
    .bg-color,
    #header-block {
        height: 360px;
    }
    .header-image {
        top: 49.5%;
        left: 74%;
        right: 0.3%;
    }
    #center-btn .item-btn-1, #center-btn .item-btn-2 {
        font-size: 14px;
    }
    .mobile-menu #login-block {
        padding: 5px 6px;
    }
    .header-center #content {
        font-size: 15.5px;
    }
    #top-title {
        height: 280px;
        grid-template-columns: 11% 1fr 11%;
        grid-template-rows: 10% 21% 1fr;
    }
    #main-slider .slider {
        height: 391px;
        grid-template-columns: 4.2% repeat(12,1fr) 2%;
        grid-template-rows: 6% 11% 1% 1fr;
    }
    .slider .list-img {
        text-align: center;
    }
    .wrap-main-title {
        grid-column: 3/13;
    }
    .main-title {
        font-size: 18px;
        line-height: 23px;
    }
    .main-content {
        font-size: 13px;
        line-height: 23px;
    }
    .img-item {
        width: 100% !important;
    }
    .menu-icon i {
        padding: 4px;
        font-size: 34px;
    }
    #moblieMenu {
        height: 330px;
    }
    #center-btn .item-btn-2 {
        background-color: #FFF;
        margin-left: 14px;
    }
    .mobile-menu .navbar-list {
        margin-left: 12px !important;
        display: block !important;
        font-size: 18px !important;
    }
    .navbar #navbar-logo, .navbar .navbar-list {
        line-height: 50px;
    }
    #header-block {
        display: grid;
        grid-template-rows: 21% 1fr 9%;
        grid-template-columns: repeat(12,1fr);
    }
    .header-center #title {
        font-weight: 700;
        font-size: 30px;
        line-height: 32px;
        margin-left: 5px;
    }
    .header-center {
        grid-template-columns: 5.5% 1fr 28%;
    }
    #center-btn {
        margin-left: 6px;
    }
    #center-btn .item-btn-1, #center-btn .item-btn-2 {
        width: 120px;
        height: 42px;
        line-height: 42px;
        font-weight: 500;
    }
    .img-item {
        width: calc(100%) !important;
    }
    #carousel1 + * {
        opacity: 0.85;
        left: 48px;
        position: absolute;
        top: 42%;
    }
    #carousel2 + * {
        opacity: 0.85;
        left: 48px ;
        position: absolute;
        top: 61.3%;
    }
    .slider-1 button + button {
        opacity: 0.85;
        right: 24px;
        position: absolute;
        top: 42%;
    }
    .slider-2 button + button {
        opacity: 0.85;
        right: 24px;
        position: absolute;
        top: 61.3%;
    }
    .slider-finally-bg .infor-finally {
        height: 310px;
    }
    .slider-finally-bg .infor-finally {
        grid-template-rows: 5.56% 22.22% 0 1fr 3.78% 10% 3%;
    }
    #star-block {
        grid-column: 5/9;
    }
    .infor-finally #title {
        font-size: 24px;
    }
    .back-icon-last {
        left: 0;
    }
    .next-icon-last {
        right: 14px;
    }
    .infor-finally #content {
        font-size: 16px;
    }
    .finally-content {
        display: block;
        padding: 12px;
        text-align: center;
    }
    .finally-content #content {
        margin-bottom: 10px;
        font-style: 22px;
    }
    #footer {
        grid-template-columns: 3.639% 24% 5% 1fr 3%;
        grid-template-rows: 26px 1fr 26px;
    }
    #footer #navbar-logo {
        font-size: 16px;
        font-weight: 600;
    }
    #footer .navbar-list .navbar-item {
        margin-right: 10px;
        font-size: 10px;
    }
}
/* 321px - 345px */
@media screen and (min-width:321px) and (max-width: 424px) {
    .header-center {
        grid-template-columns: 5% 67.5% 27.5%;
    }
    .header-center #title {
        font-size: 28px;
        line-height: 30px;
    }
    .header-center #content {
        font-size: 15px;
    }
    #center-btn .item-btn-1, #center-btn .item-btn-2 {
        width: 104px;
        height: 40px;
        line-height: 40px;
        font-weight: 500;
    }
    .header-image {
        top: 49.5%;
        left: 74%;
        right: 0.3%;
    }
    #top-title {
        height: 264px;
        grid-template-columns: 5% 1fr 5%;
        grid-template-rows: 10% 16% 1fr;
    }
    .img-item {
        width: calc(100%) !important;
    }
    #carousel1 + * {
        opacity: 0.85;
        left: 20px;
        position: absolute;
        top: 43%;
    }
    #carousel2 + * {
        opacity: 0.85;
        left: 20px ;
        position: absolute;
        top: 63%;
    }
    .slider-1 button + button {
        opacity: 0.85;
        right: 1px;
        position: absolute;
        top: 43%;
    }
    .slider-2 button + button {
        opacity: 0.85;
        right: 1px;
        position: absolute;
        top: 63%;
    }
    .finally-content #content {
        font-size: 19px;
    }
    .finally-content {
        height: 144px;
    }
    .finally-content #let-go-btn {
        height: 50px;
        line-height: 50px;
    }
    #footer {
        grid-template-columns: 3.639% 24% 3% 1fr 1%;
        grid-template-rows: 10px 1fr 10px;
    }
    #footer #navbar-logo {
        font-size: 14px;
    }
    #footer .navbar-list .navbar-item {
        margin-right: 8px;
        font-size: 10px;
    }
}
/* Mobile iphone-5s*/ 
@media screen and (max-width:320px) {
    /* Header */
    #header,
    .bg-color,
    #header-block {
        height: 300px;
    }
    .header-image {
        top: 36.5%;
        left: 69%;
        right: -0.7%;
    }
    #moblieMenu {
        height: 272px;
    }
    .navbar #navbar-logo, .navbar .navbar-list {
        line-height: 40px;
    }
    #center-btn .item-btn-1, #center-btn .item-btn-2 {
        font-size: 12px;
    }
    /* .mobile-menu #login-block {
        padding: 5px 6px;
    } */
    .menu-icon i {
        padding: 2px;
        font-size: 30px;
    }
    .header-center {
        grid-template-columns: 5.5% 68.5% 26%;
    }
    .header-center #content {
        font-size: 12px;
    }
    .header-center #title {
        font-size: 22px !important;
    }
    .header-image {
        top: 45.2%;
        left: 71%;
        right: 0;
    }
    #center-btn .item-btn-1, #center-btn .item-btn-2 {
        width: 96px;
        height: 36px;
        line-height: 36px;
    }
    #top-title {
        height: 270px;
        grid-template-columns: 3% 1fr 3%;
        grid-template-rows: 7% 19% 1fr;
    }
    #center-btn .item-btn-2 {
        margin-left: 6px;
    }
    .main-title {
        font-size: 16px;
        line-height: 21px;
    }
    .main-content {
        font-size: 12px;
        line-height: 23px;
    }
    #main-slider .slider {
        height: 391px;
        grid-template-columns: 0.2% repeat(12,1fr) 0.2%;
        grid-template-rows: 5% 11% 0% 1fr;
    }
    .slider .list-img {
        text-align: center;
    }
    .img-item {
        width: calc(100%) !important;
    }
    img, video {
        height: auto;
        max-width: 90%;
    }
    #carousel1 + * div,
    #carousel2 + * div {
        left: 6px !important;
    }
    .slider-1 button + button div,
    .slider-2 button + button div {
        left: 1px !important;
    }
    #carousel1 + * {
        opacity: 0.85;
        left: 2px;
        position: absolute;
        top: 42.8%;
        width: 30px !important;
        height: 30px !important;
    }
    
    #carousel2 + * {
        opacity: 0.85;
        left: 2px;
        position: absolute;
        top: 64.8%;
        width: 30px !important;
        height: 30px !important;
    }
    .slider-1 button + button {
        opacity: 0.85;
        right: 1px;
        position: absolute;
        top: 42.8%;
        width: 30px !important;
        height: 30px !important;
    }
    .slider-2 button + button {
        opacity: 0.85;
        right: 1px;
        position: absolute;
        top: 64.8%;
        width: 30px !important;
        height: 30px !important;
    }
    .infor-finally #title {
        font-size: 20px;
    }
    .infor-finally #content {
        font-size: 14px;
    }
    .slider-finally-bg .infor-finally {
        height: 228px;
    }
    .finally-content #let-go-btn {
        font-size: 16px;
        height: 50px;
        line-height: 50px;
    }
    .finally-content {
        height: 135px !important;
    }
    .finally-content #content {
        font-size: 16px;
    }
    .finally-content {
        height: 150px;
    }
    #footer #navbar-logo {
        font-size: 13px;
        font-weight: 700;
    }
    #footer {
        grid-template-columns: 2.639% 25% 3% 1fr;
        grid-template-rows: 10px 1fr 10px;
    }
    #footer .navbar-list .navbar-item {
        margin-right: 11px;
        font-size: 9px;
    }
}